<!--
Next version

<h1>GeoRedirect settings</h1>

<table class="form-table">
    <tbody>
        <tr>
            <th scope="row">
                <label for="blogname">IP Search database</label>
            </th>
            <td>
                <select name="">
                    <option>GeoIP2</option>
                    <option>Freegeoapi.net</option>
                    <option>lite.ip2location.com</option>
                    <option>Other</option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="blogdescription">Other</label>
            </th>
            <td>
                <input type="file">
                <p class="description" id="tagline-description">CSV only. Structure: IP range, Country code</p>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="siteurl">Default redirect</label>
            </th>
            <td>
                <input type="text" placeholder="http://google.com">
                <p class="description" id="tagline-description">Triggered if no rules for country found</p>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="blogdescription">Log country visitor stats</label>
            </th>
            <td>
                <input type="checkbox">
            </td>
        </tr>
        
        <tr>
            <th scope="row">
                <label for="blogdescription">Site is behind Cloudflare</label>
            </th>
            <td>
                <input type="checkbox">
            </td>
        </tr>
    </tbody>
</table>

<input type="submit" class="button button-primary" value="Save settings">

-->